nav
{
    background-color: rgb(242, 240, 240);
}

nav a
{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: .5em 1.5em;
    color: black;
}

nav a:hover
{
    background-color: whitesmoke;
}